<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Editing {{options.title}}</h4>
    </div>
    <div class="modal-body">
      <div data-hull-component='builder@formbuilder' data-hull-id="entity:{{options.formName}}"></div>
    </div>
  </div>
</div>
